# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
integer_value1 = 10
integer_value2 = 10
print(integer_value1 == integer_value2)
print(id(integer_value1) == id(integer_value2))

True
True

Змінні integer_value1 та integer_value2 рівні за значенням та посилаються на той самий обʼєкт памʼяті, оскількі значення в діапазоні від -5 до 256 кешуються та використовуються тією самою памʼяттю. Це підтверджує виконання попередньої комірки коду (результат True True)

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
# за допомогою функції isinstance
isinstance(True, bool) and isinstance(True, int) # чи змінна True посилається на значення булевого та цілочисленого типу

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
integer_value = 8
float_value = 2.5
sum = integer_value + float_value
subtraction = integer_value - float_value
division = integer_value / float_value
multiplication = integer_value * float_value
div = integer_value // float_value
mod = integer_value % float_value
pow = float_value ** integer_value

print(f"Integer number : {integer_value}")
print(f"Float number : {float_value}")
print(f"Addition result : {sum}")
print(f"Subtraction result : {subtraction}")
print(f"Division result : {division}")
print(f"Multiplication result : {multiplication}")
print(f"Division without remainder result : {div}")
print(f"Modulus result : {mod}")
print(f"Pow result : {pow}")

Integer number : 8
Float number : 2.5
Addition result : 10.5
Subtraction result : 5.5
Division result : 3.2
Multiplication result : 20.0
Division without remainder result : 3.0
Modulus result : 0.5
Pow result : 1525.87890625

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
print(f"Convert float to int : {float_value} -> {int(float_value)}")
print(f"Convert float to int : {sum} -> {int(sum)}")
some_bool = True
print(f"Convert bool to int : {some_bool} -> {int(some_bool)}")

Convert float to int : 2.5 -> 2
Convert float to int : 10.5 -> 10
Convert bool to int : True -> 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [6]:
empty_string1 = ''
empty_string2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
a = '\''
raw_a = r'\''
print(f"String : {a}")
print(f"Raw string : {raw_a}")

String : '
Raw string : \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [8]:
surname = "Zhelizniak"
formated_surname = "My surname is {surname}"
print(formated_surname.format(surname=surname))

My surname is Zhelizniak

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [10]:
basic_string = "My dog is crazy."
splited = basic_string.lower()[:-1].split()
print(splited)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [11]:
list1 = list((5, 6, 10, 16))
list2 = [5, 6, 10, 16]
print(list1)
print(f"Length = {len(list1)}")

[5, 6, 10, 16]
Length = 4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [12]:
list3 = [12, 3, 5, 12]
list4 = [0, 55, 6]
list3.append(list4)
print(list3)

[12, 3, 5, 12, [0, 55, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [13]:
list_of_lists = [[1, 2, 3],[4, 5, 6],[7, 8, 9, 10]]
print(list_of_lists[- 1][0])

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [14]:
list5 = [1, 6.4, "abc", True, [1, 2, 3], 3, 12, "a", "b", ("a", "b", "c")]
sliced_list = list5[2:-2]
print(f"Orginal list : {list5}")
print(f"Sliced list : {sliced_list}")

Orginal list : [1, 6.4, 'abc', True, [1, 2, 3], 3, 12, 'a', 'b', ('a', 'b', 'c')]
Sliced list : ['abc', True, [1, 2, 3], 3, 12, 'a']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [15]:
tuple1 = (1,)
print(tuple1)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Подібне:

*   Призначені для збереження кількох значень
*   Можна проходити по елементах за допомогою циклу
*   Можна доступатись до елементів за індексом

Відмінне:
*   Визначення кортежу (,), а визначення списку []
*   Список є змінною структурою даних, а кортеж незмінною
*   Кортеж є білльш ефективним в плані швидкодії, оскільки є незмінним тож має менше затрат на операції з памʼяттю.

Використання:
Списки використовують для зберігання даних, які в майбутньому треба буде змінювати після створення структури даних.
Кортежі використовуються для збереження даних, які не мінятимуться з моменту створення кортежу. Такими даними можуть бути константи, певні програмні структури, які потрібно убезпечити від випадкових змін.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [16]:
tuple2 = (0.1, 1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple_sliced = tuple2[::-2]
print(tuple_sliced)

(0.3, 8.3, 6.3, 4.3, 2.3, 0.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [17]:
set1 = set()
set1.add(1)
set1.add(2.5)
set1.add("abc")
print(set1)

{1, 2.5, 'abc'}

Множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [18]:
my_list = [1, 1, 2, 67, 67, 8, 9]
converted_set = set(my_list)
print(converted_set)

{1, 2, 67, 8, 9}

Set - множина унікальних значень, при спробі додавання дублікату все одно лишається одне значення. В початковому списку числа 1 та 67 мали дублікати, в утвореній множині вони зустрічаються лише 1 раз та є унікальними в межах цієї множини.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [19]:
set2 = {1, 2, 3, 6, 20}
set3 = {5, 6, 7, 8, 20, 21}
united = set2.union(set3)
intersected = set2.intersection(set3)
diff = set2.difference(set3)
sym_diff = set2.symmetric_difference(set3)
print(f"Set 2 = {set2}")
print(f"Set 3 = {set3}")
print(f"Union = {united}")
print(f"Intersection = {intersected}")
print(f"Difference = {diff}")
print(f"Symetric difference = {sym_diff}")

Set 2 = {1, 2, 3, 20, 6}
Set 3 = {20, 5, 6, 7, 8, 21}
Union = {1, 2, 3, 5, 6, 7, 8, 20, 21}
Intersection = {20, 6}
Difference = {1, 2, 3}
Symetric difference = {1, 2, 3, 5, 7, 8, 21}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [20]:
my_dictionary = {}
my_dictionary[1] = "Anna"
my_dictionary['a'] = "Ivan"
my_dictionary[(1,2)] = "Oleg"
my_dictionary[4.5] = "Olga"
print(my_dictionary)

{1: 'Anna', 'a': 'Ivan', (1, 2): 'Oleg', 4.5: 'Olga'}

Ні, ми не можемо використати список в якості ключа. Ключ словника обовʼязково має бути hashable, вбудовані незмінні типи в python хешуються, а змінні, зокрема списки, не хешуються.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [21]:
complex_dictionary = {"1a": {"2a": {"3a": 225},"2b": 125},"1b": 25,"1c": 30}
print(complex_dictionary["1a"]["2a"]["3a"])

225

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.